footer{
    background: $cor-secundaria;
    padding: 25px 0;
    color: $branco; 
    a{
        color: $branco;
        &:hover{
            color: $verde;
        }
    } 
    h4{
        color: $cor-primaria;
        font-size: 19px;
    }   
}